.home-container {
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}

.home-container header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #3f51b5;
}

.home-detail {
  padding: 0.5rem 0;
}

.home-detail :nth-child(1) {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #000;
}

.home-detail :nth-child(2) {
  color: #616161;
  letter-spacing: 1px;
}

.home-error {
  text-align: center;
  font-size: 1.2rem;
  color: #f44336;
}
